<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".ui.activities.EditImageActivity"
            android:exported="true"
            android:theme="@style/ImageEditTheme">
        </activity>
    </application>


</manifest>